


.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.portfolio-title {
  margin-bottom: 1.2em;
}

.portfolio > :not(:last-child):not(:first-child) {
  margin-bottom: 2em;
}

.portfolio-description {
  text-align: center;
}

.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}

.portfolio-filter li:nth-child(odd):hover {
  cursor: pointer;
  color: #E87E04;
}

.portfolio-filter li:first-child {
  color: #E87E04;
}

.portfolio-gallary {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1240px;
  width: 100%;
}

.portfolio-gallary__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: height, -webkit-flex-basis, -webkit-transform;
  transition-property: height, -webkit-flex-basis, -webkit-transform;
  transition-property: height, flex-basis, transform;
  transition-property: height, flex-basis, transform, -webkit-flex-basis, -ms-flex-preferred-size, -webkit-transform;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  height: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 5px;
}

.portfolio-gallary__img {
  max-height: 100%;
  height: auto;
  width: auto;
}

.portfolio-gallary__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.portfolio-gallary .active {
  height: 200px;
  -ms-flex-preferred-size: 22.5%;
      flex-basis: 22.5%;
  margin-right: 0.9em;
  margin-left: 0.9em;
  margin-bottom: 1.5em;
}

.portfolio .modal {
  display: none;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.portfolio .modal-content {
  position: relative;
  margin: auto;
}

.portfolio .modal__close {
  position: absolute;
  right: 20px;
  bottom: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 40px;
  color: white;
}

.portfolio .modal__close:hover {
  cursor: pointer;
}

.portfolio .modal__img {
  position: relative;
  margin: auto;
  max-width: 700px;
  height: auto;
}

