ul, li, a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

/* Portfolio Section */
.portfolio {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.portfolio-title {
  margin-bottom: 1.2em;
}

.portfolio > :not(:last-child):not(:first-child) {
  margin-bottom: 2em;
}

.portfolio-description {
  text-align: center;
}

/* Filter */
.portfolio-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}

.portfolio-filter li:nth-child(odd):hover {
  cursor: pointer;
  color: #1e549f;
}

.portfolio-filter li:first-child {
  color: #1e549f;
}

/* Gallery */
.portfolio-gallary {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  width: 100%;
  flex-wrap: wrap;
}

.portfolio-gallary__item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height .5s ease-out;
  height: 0;
  flex-basis: 0;
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 5px;
}

.portfolio-gallary__img {
  max-height: 100%;
  height: auto;
  width: auto;
}

.portfolio-gallary__item:hover {
  cursor: pointer;
  transform: scale(1.6);
  transition: all ease .5s;
}

.portfolio-gallary .active {
  height: 200px;
  flex-basis: 22.5%;
  margin: 0.9em;
  margin-bottom: 1.5em;
}

/* Modal */
.portfolio .modal {
  display: none;
  position: fixed;
  flex-flow: column;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.portfolio .modal-content {
  position: relative;
  margin: auto;
}

.portfolio .modal__close {
  position: absolute;
  right: 20px;
  bottom: 20px;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
}

.portfolio .modal__close:hover {
  cursor: pointer;
}

.portfolio .modal__img {
  position: relative;
  margin: auto;
  max-width: 700px;
  height: auto;
}


